body {
  margin: 0;
  font-family: cursive;
}

.main-container {
  height: 100%;
  width: 100%;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: antiquewhite;
  padding: 10px;
}

.game-container {
  display: block;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.box-container {
  position: relative;
  display: inline-block;
  width: 20vw;
  margin-top: 70px;
}

.mole-container {
  height: 100px;
  position: absolute;
  top: -64px;
}

.mole-new {
  visibility: hidden;
  height: 100%;
  width: 100%;
  object-fit: contain;
  outline: none;
  user-select: none;
}

.dirt {
  height: 100%;
  width: 100%;
  object-fit: contain;
  outline: none;
  user-select: none;
}

.active {
  visibility: visible;
}

.btn-controls {
  display: flex;
}
