.main-container {
  height: 100%;
  width: 100%;
}

.toolbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  background: antiquewhite;
  padding: 10px;
}

.game-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  outline: none;
}

.dirt {
  height: 100%;
  width: 100%;
  /* margin-top: 40px; */
  object-fit: contain;
  outline: none;
  user-select: none;
}
/* .mole {
  height: 90px;
  width: 90px;
  position: absolute;
  visibility: hidden;
  left: 24px;
} */

.mole-new {
  height: 100%;
  width: 100%;
  object-fit: contain;
  outline: none;
  user-select: none;
}

.mole-container {
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.box-container {
  position: relative;
  display: grid;
  /* grid-template-rows: auto auto; */
  grid-template-columns: 0.5fr;
}

.active {
  visibility: visible;
}

.btn-controls {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
}
